.CompletedContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;
}

.CompletedContainer span:first-child{
    font-size: 1.25rem;
}

.CompletedContainer span:last-child{
    font-size: 1.25rem;
}